.log_content {
    display: none;
}

.failed_tr {
    background-color: #FF6D6D;
}

.passed_tr {
    background-color: #5C8660;
}

.failed{
    color: #FF6D6D
}

#management_panel {
    float: left;
    height: 100px;
    width: 100%;
}

#refresh_main_view {
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
    margin: 25px;
    width: 100px;
}